* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F3F0EA;
    color: black;
}

/* MAIN */

.img_product {
    padding-left: 50px;
    padding-bottom: 200px;
}
.img_product img {
    border-radius: 5px;
}

.all_product_page {
    display: flex;
    gap: 80px;
}

.info_product {
    padding-left: 20px;
    padding-top: 20px;
}

.info_product .p1 {
    font-size: 42px;
    padding-bottom: 10px;
}

.info_product .p2 {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 55px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
}

.info_product .p3 {
    padding-bottom: 70px;
    font-size: 21px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    width: 80%;
}

.quantity-selector {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}

#decrease {
    width: 45px;
    height: 45px;
    background-color: #352f36;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

#increase {
    width: 45px;
    height: 45px;
    background-color: #352f36;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.quantity-btn:hover {
    background-color: black;
    opacity: 80%;
}

#quantity {
    width: 100px;
    text-align: center;
    font-size: 20px;
    border: none;
    margin: 10 10px;
    padding: 11px 10px;
}

.atc_button {

}

.atc_button button {
    cursor: pointer;
    padding: 15px 100px;
    font-size: 20px;
    color: white;
    background-color: #352f36;
    border: none;
    border-radius: 7px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    transition: background-color 0.3s ease;
}

.atc_button button:hover {
    background-color: black;
}

.quantity-btn:hover{
    background-color: black !important;
    opacity: 100%;
}

