* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F3F0EA !important;
    color: black;
}
.delete-btn {
    width: 18px;
    height: 17px;
    /* background: url(&amp;amp;quot;delete-icn.svg&amp;amp;quot;) no-repeat center; */
}
.delete-btn i, .like-btn i {
    color: grey;
    font-size: 25px;
}

/* QUANTITY BUTTON */
.quantity {
    padding-top: 20px;
    margin-right: 60px;
}
.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: black;
    font-weight: bold;
}
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.minus-btn img {
    margin-bottom: 3px;
}
.plus-btn img {
    margin-top: 2px;
}
   
  button:focus,
  input:focus {
    outline:0;
}

#button-addon3{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #373b3e;
}

/* RESPONSIVE */
@media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image img {
      width: 50%;
    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
    }
}